* {
    margin: 1;
    padding: 0;
    font-family: sans-serif;
}

div.container {
    font-size: 11px;
    padding: 5px;
    background-color: #eee;
    width: 818px;
}

div.col {
    width: 43px;
    text-align: center;
}

div.c2 {
    position: absolute;
    top: 7px;
    left: 51px;
}

div.c3 {
    position: absolute;
    top: 7px;
    left: 94px;
}

div.c4 {
    position: absolute;
    top: 7px;
    left: 137px;
}

div.c5 {
    position: absolute;
    top: 7px;
    left: 180px;
}

div.c6 {
    position: absolute;
    top: 7px;
    left: 223px;
}

div.c7 {
    position: absolute;
    top: 7px;
    left: 267px;
}

div.c8 {
    position: absolute;
    top: 7px;
    left: 310px;
}

div.c9 {
    position: absolute;
    top: 7px;
    left: 353px;
}

div.c10 {
    position: absolute;
    top: 7px;
    left: 396px;
}

div.c11 {
    position: absolute;
    top: 7px;
    left: 439px;
}

div.c12 {
    position: absolute;
    top: 7px;
    left: 482px;
}

div.c13 {
    position: absolute;
    top: 7px;
    left: 525px;
}

div.c14 {
    position: absolute;
    top: 7px;
    left: 568px;
}

div.c15 {
    position: absolute;
    top: 7px;
    left: 611px;
}

div.c16 {
    position: absolute;
    top: 7px;
    left: 654px;
}

div.c17 {
    position: absolute;
    top: 7px;
    left: 697px;
}

div.c18 {
    position: absolute;
    top: 7px;
    left: 740px;
}

div.c19 {
    position: absolute;
    top: 7px;
    left: 783px;
}

div.head {
    color: #C15B73;
    font-size: 9px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

div.first {
    padding-left: 0px;    
}

.ele {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bold { font-weight: bold; }
.tiny { font-size: 8px; }
.cntr { text-align: center; }

.grp1 {
    background-color: #5684FF;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #5684FF;
    padding-top: 6px;
    padding-bottom: 6px;
}

.grp2 {
    background-color: #FA8586;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #FA8586;
    padding-top: 6px;
    padding-bottom: 6px;
}

.grp3 {
    background-color: #FDC200;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #FDC200;
    padding-top: 6px;
    padding-bottom: 6px;
}

.filler {
    margin-top: 15px;
}

div ul.head {
    list-style: none;
}

div ul.head li.h {
    color: #C15B73;
    font-size: 9px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    padding-right: 70px;
}

div ul.head li.d {
    font-size: 9px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline;
    padding-right: 70px;
}
